---
title: Articles & Projects
description: Stuff that I think is interesting
---
{% for post in site.posts limit:10 %}
    {% if post.categories contains "quick" %}
        {% if post.title %}
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        {% endif %}
        <div class="post">
            {{ post.content }}
        </div>
        {% include post_meta.html post=post %}
    {% else %}
        <p class="post_date"><em><time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: '%Y-%m-%d' }}</time></em></p>
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <div>
            {{ post.content }}
        </div>
    {% endif %}
    <hr>
{% endfor %}
