---
---
@use "sass:math";

@use "config";

html {
    font-family: sans-serif;
    font-size: 1em;
    line-height: config.$line-height;
}

h1 {
    margin: (0em + math.div(config.$line-height, config.$h1-font-size)) 0;
    font-size: 0em + config.$h1-font-size;
    line-height: math.div(config.$line-height, config.$h1-font-size);
}

h2 {
    margin: (0em + math.div(config.$line-height, config.$h2-font-size)) 0;
    font-size: 0em + config.$h2-font-size;
    line-height: math.div(config.$line-height, config.$h2-font-size);
}

h3 {
    margin: (0em + math.div(config.$line-height, config.$h3-font-size)) 0;
    font-size: 0em + config.$h3-font-size;
    line-height: math.div(config.$line-height, config.$h3-font-size);
}

h4 {
    margin: (0em + math.div(config.$line-height, config.$h4-font-size)) 0;
    font-size: 0em + config.$h4-font-size;
    font-style: italic;
    line-height: math.div(config.$line-height, config.$h4-font-size);
}

h5 {
    margin: (0em + math.div(config.$line-height, config.$h5-font-size)) 0;
    font-size: 0em + config.$h5-font-size;
    line-height: math.div(config.$line-height, config.$h5-font-size);
}

h6 {
    margin: (0em + math.div(config.$line-height, config.$h6-font-size)) 0;
    font-size: 0em + config.$h6-font-size;
    font-style: italic;
    line-height: math.div(config.$line-height, config.$h6-font-size);
}

p {
    margin: (0em + config.$line-height) 0;
}

ol,
ul {
    padding: 0 0 0 (0em + config.$line-height);
    margin: (0em + config.$line-height) 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
	margin: 0;
}

pre {
    white-space: pre;
    word-wrap: normal;
}

h1, h2, h3, h4, h5, h6, p {
    max-width: 33em;
}
