---
---

@import "config";

html {
    font-family: sans-serif;
    font-size: 1em;
    line-height: $line-height;
}

h1 {
    margin: (0em + $line-height / $h1-font-size) 0;
    font-size: 0em + $h1-font-size;
    line-height: $line-height / $h1-font-size;
}

h2 {
    margin: (0em + $line-height / $h2-font-size) 0;
    font-size: 0em + $h2-font-size;
    line-height: $line-height / $h2-font-size;
}

h3 {
    margin: (0em + $line-height / $h3-font-size) 0;
    font-size: 0em + $h3-font-size;
    line-height: $line-height / $h3-font-size;
}

h4 {
    margin: (0em + $line-height / $h4-font-size) 0;
    font-size: 0em + $h4-font-size;
    font-style: italic;
    line-height: $line-height / $h4-font-size;
}

h5 {
    margin: (0em + $line-height / $h5-font-size) 0;
    font-size: 0em + $h5-font-size;
    line-height: $line-height / $h5-font-size;
}

h6 {
    margin: (0em + $line-height / $h6-font-size) 0;
    font-size: 0em + $h6-font-size;
    font-style: italic;
    line-height: $line-height / $h6-font-size;
}

p {
    margin: (0em + $line-height) 0;
}

ol,
ul {
    padding: 0 0 0 (0em + $line-height);
    margin: (0em + $line-height) 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
	margin: 0;
}

pre {
    white-space: pre;
    word-wrap: normal;
}

h1, h2, h3, h4, h5, h6, p {
    max-width: 33em;
}
