<div class="dark">
    <div class="footer content clearfix">
        <p>Contact me at <a href="mailto:mailtoarlo@gmail.com">mailtoarlo@gmail.com</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
    </div>
</div>

{% if page.javascript %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../js/vendor/jquery-2.0.3.min.js"><\/script>')</script>
    <script src="../js/plugins.js"></script>
    {% for file in page.javascript_files %}
        <script src="../js/{{ file }}"></script>
    {% endfor %}
{% endif %}

</body>
</html>
