<!DOCTYPE html>
{% if page.language %}{% assign language = page.language %}{% else %}{% assign language = site.language %}{% endif %}
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7" lang="{{language}}"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8" lang="{{language}}"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9" lang="{{language}}"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{language}}"> <!--<![endif]-->
<head>
    <meta charset='utf-8'>
    {% if page.no_title_expansion %}
    <title>{{ page.title }}</title>
    {% else %}
    <title>{{ page.title }} | {{ site.title }}</title>
    {% endif %}
    {% if page.description %}
    <meta name="description" content="{{page.description}}">
    {% endif %}
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/intermediate.css">
</head>

<body class="{% if page.body_class %}{{ page.body_class }} {% endif %}light">

<!--[if lt IE 7]>
    <p id="chromeframe" class="content">
        You are using an outdated browser.
        <a href="http://browsehappy.com/">Upgrade your browser today</a>
        to better experience this site.
    </p>
<![endif]-->

<div class="dark">
    <div class="header content clearfix">
        {% include nav.html %}
        {% if page.github_link %}
        <p class="fr"><a href="{{ page.github_link }}">View on GitHub</a></p>
        {% endif %}
        <h1>{{ page.title }}</h1>
        {% if page.subtitle %}
        <p class="content">{{ page.subtitle }}</p>
        {% endif %}
    </div>
</div>
