<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="description" content="{{page.description}}">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/0f733576d5d260f39871b0b6559d9868.css">
</head>

<body class="{% if page.body_class %}{{ page.body_class }} {% endif %}light">

<!--[if lt IE 7]>
    <p id="chromeframe" class="content">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
<![endif]-->

<div class="dark">
    <div class="header content clearfix">
        {% if page.github_link %}<p class="fr"><a class="btn" href="{{ page.github_link }}">View on GitHub</a></p>{% endif %}
        <h1>{{ page.title }}</h1>
        <p class="content">{{ page.description }}</p>
    </div>
</div>
