@mixin transition ($property: all, $duration: 0.2s, $style: ease-in-out ) {
  -webkit-transition-property: $property;
  -webkit-transition-duration: $duration;
  -webkit-transition-timing-function: $style;

  -moz-transition-property: $property;
  -moz-transition-duration: $duration;
  -moz-transition-timing-function: $style;

  -ms-transition-property: $property;
  -ms-transition-duration: $duration;
  -ms-transition-timing-function: $style;

  -o-transition-property: $property;
  -o-transition-duration: $duration;
  -o-transition-timing-function: $style;

  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $style;
}
