/* <= 480 */
@media only screen and (max-width: 480px) {
}

/* >= 481 */
@media only screen and (min-width: 481px) {
    body {
        font-size: 1.25em;
    }

    .header, header,
    .footer, footer,
    .article, article {
        margin: 0 2em 0 2em;
    }

    .github_link, .post_date, .project_date {
        float: right;
        margin: 0 0 (0em + $line-height) 1em;
    }
}

/* >= 481 && <= 768 */
@media only screen and (min-width: 481px) and (max-width: 768px) {
}

/* <= 768 */
@media only screen and (max-width: 768px) {
}

/* >= 769 */
@media only screen and (min-width: 769px) {
    .header, header,
    .footer, footer,
    .article, article {
        margin: 0 22% 0 11%;
    }

    .article, article  {
        margin-bottom: 22%;
    }
}

/* >= 769 && <= 980 */
@media only screen and (min-width: 769px) and (max-width: 980px) {
}

/* <= 980 */
@media only screen and (max-width: 980px) {
}

/* >= 981 */
@media only screen and (min-width: 981px) {
}

/* >= 981 && <= 1199 */
@media only screen and (min-width: 981px) and (max-width: 1199px) {
}

/* >= 1200 */
@media only screen and (min-width: 1200px) {
}

/* >= 1400 */
@media only screen and (min-width: 1400px) {
}
