---
layout: compress
---
<!DOCTYPE html>
{% if page.language %}
    {% assign language = page.language %}
{% else %}
    {% assign language = site.language %}
{% endif %}
<html lang="{{ language }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {% seo %}
    <meta name="viewport" content="width=device-width">
    {% feed_meta %}
    <style type="text/css">
    {% capture include_to_scssify %}
      {% include styles.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}
    </style>
</head>
<body>
    <div class="header">
        <div class="nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li><li>
                    <a href="/articles/">Archive</a>
                </li><li>
                    <a href="/projects.html">Projects</a>
                </li><li>
                    <a href="/about.html">About</a>
                </li>
            </ul>
        </div>
        <hr>
        {% if page.github_link %}
            <p class="github_link"><a href="{{ page.github_link }}">View on GitHub</a></p>
        {% endif %}
        {% if page.collection == "posts" %}
            <h1>{{ page.title }}</h1>
            {% if page.description %}
                <p>{{ page.description }}</p>
            {% endif %}
        {% endif %}
        {% if page.toc %}
            {% include toc.html html=content h_min=2 h_max=3 %}
        {% endif %}
    </div>
    <div class="article">
    {% include anchor_headings.html html=content beforeHeading=true anchorClass='anchor' h_min=2 %}
    {% if page.collection == "posts" %}
        {% include post_meta.html post=page %}
    {% endif %}
    </div>
    <div class="footer">
        <p>Copyright © 2012-2023 Arlo O'Keeffe</p>
    </div>
</body>
</html>
