---
layout: default
title: Articles
subtitle: A collection of articles by Arlo O'Keeffe.
description: A collection of articles by Arlo O'Keeffe.
---
{% for post in paginator.posts %}
    <p class="post_date"><em>{{ post.date | date: '%Y-%m-%d' }}</em></p>
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <div>
        {{ post.excerpt }}
        <p>
            <a href="{{ post.url }}">Read More</a>
        </p>
    </div>
    <hr>
{% endfor %}

{% if paginator.total_pages > 1 %}

    <div class="nav">

        {% if paginator.previous_page %}
            <p>
                {% if paginator.previous_page == 1 %}
                    <a href="/articles/">&laquo; Previous Page</a>
                {% else %}
                    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Previous Page</a>
                {% endif %}
            </p>
        {% else %}
            <p>&laquo; Previous Page</p>
        {% endif %}

        <ul class="nav pager">
            {% if paginator.page == 1 %}
                <li class="active">1</li>
            {% else %}
                <li><a href="/articles/">1</a></li>
            {% endif %}

            {% for page in (2..paginator.total_pages) %}
                {% if page == paginator.page %}
                    <li class="active">{{ page }}</li>
                {% else %}
                    <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>

        {% if paginator.next_page %}
            <p>
                <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next Page &raquo;</a>
            </p>
        {% else %}
            <p>Next Page &raquo;</p>
        {% endif %}

    </div>

{% endif %}
