---
layout: default
title: Articles
subtitle: A rather small collection of articles by Arlo O'Keeffe.
description: A rather small collection of articles by Arlo O'Keeffe.
---
{% for post in paginator.posts %}
  <p class="date"><em>{{ post.date | date: '%Y-%m-%d' }}</em></p>
  <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
  <div>
    {{ post.excerpt }}
  </div>
  <hr>
{% endfor %}

<div>
  {% if paginator.previous_page %}
    <p>
      {% if paginator.previous_page == 1 %}
        <a href="/articles/">Newer Articles</a>
      {% else %}
        <a href="{{ paginator.previous_page_path }}/">Newer Articles</a>
      {% endif %}
    </p>
  {% else %}
    <p>Newer Articles</p>
  {% endif %}

  <div class="nav">
  <ul>
    <li>
      {% if paginator.page == 1 %}
        1
      {% else %}
        <a href="/articles/">1</a>
      {% endif %}
    </li>

    {% for count in (2..paginator.total_pages) %}
      <li>
        {% if count == paginator.page %}
          {{ count }}
        {% else %}
          <a href="/articles/page{{ count }}/">{{ count }}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>

  {% if paginator.next_page %}
    <p>
      <a href="{{ paginator.next_page_path }}/">Older Articles</a>
    </p>
  {% else %}
    <p>Older Articles</p>
  {% endif %}

</div>
