---
title: Article archive
description: These are all the posts I've written.
pagination:
  enabled: true
  per_page: 10
  title: ':title'
---
{% for post in paginator.posts %}
    <p class="post_date"><em><time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: '%Y-%m-%d' }}</time></em></p>
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <div>
        {{ post.excerpt }}
        <p>
            <a href="{{ post.url }}">Read More</a>
        </p>
    </div>
    <hr>
{% endfor %}

{% if paginator.total_pages > 1 %}

    <div class="nav">

        {% if paginator.previous_page %}
            <p>
                {% if paginator.previous_page == 1 %}
                    <a href="/articles/">&laquo; Newer posts</a>
                {% else %}
                    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Newer posts</a>
                {% endif %}
            </p>
        {% else %}
            &laquo; Newer posts
        {% endif %}

        <ul class="nav pager">
            {% if paginator.page == 1 %}
                <li class="active">1</li>
            {% else %}
                <li><a href="/articles/">1</a></li>
            {% endif %}

            {% for page in (2..paginator.total_pages) %}
                {% if page == paginator.page %}
                    <li class="active">{{ page }}</li>
                {% else %}
                    <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>

        {% if paginator.next_page %}
            <p>
                <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older posts &raquo;</a>
            </p>
        {% else %}
            <p>Older posts &raquo;</p>
        {% endif %}

    </div>

{% endif %}
